__pycache__/
*.pyc
**/outputs/
caso_energia/data/opsd_time_series.csv
caso_epidemiologia/data/owid_covid.csv

# Ignore large data files
caso_*/data/*.csv
04_caso_energia/data/opsd_time_series.csv
06_caso_estetica/data/moma_artworks.csv

# Ignore datasets
*.csv
